# Compiled Object Files
*.o

# Executable Binaries
array

# Editor Backup Files
*~

# Editor Temporary Files
.*.swp

# Build Output Directories
build/
dist/

# IDE or Editor Configuration Files
.vscode/
.vim/

# Dependency Directories
lib/
vendor/

# Logs and Debug Files
*.log
*.out

# User-Specific Files
.DS_Store

# Environment-Specific Files
.env
